@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-pry: var(--pry);
  --color-card: var(--card);
  --color-lightGreen: var(--lightGreen);
  --color-sec: var(--sec);
  --color-tet: var(--tet);
  --color-darkCrad: var(--darkCrad);
  --color-textGreyCol: var(--textGreyCol);
  --color-textCol: var(--textCol);
  --color-grayCol: var(--grayCol);
  --color-notification:var(--notiCol);
  --color-profileSec:var(--profileSec);
  --color-overview:var(--overview);
}

:root {
  --pry: #fff;
  --card: whitesmoke;
  --notiCol:whitesmoke;
  --sec: #0e8388;
  --tet: #7d8085;
  --darkCrad: #d1cece40;
  --textGreyCol: #666;
  --textCol: #000;
  --grayCol: #63686e;
  --lightGreen:#44decc;
  --profileSec:#e6e0e0cc;
  --overview:white;
}
.dark {
  --pry: #1A202C;
  --card: #030306;
  --notiCol:#101828;
  --sec: #0e8388;
  --tet: #7d8085;
  --darkCrad: #101828;
  --textGreyCol: #fff;
  --textCol: #fff;
  --grayCol: #06202b;
  --lightGreen:#44decc;
  --profileSec:#18af9e;
  --overview:rgba(255, 255, 255, 0.3);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
table {
  border-collapse: collapse;
}
/* Add to styles/globals.css */
.toggle-switch {
  appearance: none;
  width: 2.25rem;
  height: 1.25rem;
  background-color: #ccc;
  border-radius: 9999px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-switch:checked {
  background-color: #14b8a6; /* teal-500 */
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 9999px;
  transition: transform 0.3s;
}

.toggle-switch:checked::before {
  transform: translateX(1rem);
}